<%- include('partials/header') -%>

<main class="container">
  <div class="row justify-content-center">
    <section class="col-6 mt-5">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
    </section>
  </div>
</main>

<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
      <!-- Model Login -->
      <h2 class="text-center">Model Login</h2>
      <img
        src="imgs/averie-woodard-4nulm-JUYFo-unsplash.jpg"
        class="rounded signupFormModel"
        style="height: 30vh; margin-bottom: 3vh"
      />
      <form action="/login/model" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col">
      <!-- Stylist Login Form -->
      <h2 class="text-center">Stylist Login</h2>
      <img
        src="imgs/adam-winger-WXmHwPcFamo-unsplash.jpg"
        class="rounded"
        style="height: 30vh; margin-bottom: 3vh"
      />
      <form action="/login/stylist" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
