.hidden {
  display: none;
}

.rounded {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  background-color: rgba(116, 109, 184, 0.45) !important;
  border-color: rgba(116, 109, 184, 0.45) !important;
}
