.hidden {
  display: none;
}

.rounded {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  background-color: rgba(116, 109, 184, 0.45) !important;
  border-color: rgba(116, 109, 184, 0.45) !important;
}

.card-image {
  width: 100%;
  height: 35vh;
  
  }

a {
  text-decoration: none;
}

.profile-jumbotron{
  background: 
/*linear-gradient(
  rgba(0, 0, 250, 0.25), 
  rgba(125, 250, 250, 0.45)
)*/
linear-gradient(
    rgba(182, 113, 203, 0.4),
    rgba(116, 109, 184, 0.45)
  );
color: white !important;
height:20vh;
/*width: 115vh;
margin: 0 10% 0 20%;*/
margin-bottom: 4vh;
}
.title{
  margin-top:3vh;
}
.text_margin{
    width:70vw;
    margin: 0 auto;
}
.string-1{
  padding-top:30px;
  width:600px;
  margin:0 auto;
  font-weight:100;
  margin-top:-35px;
}
.content{
  margin:10%;
}
br{
  margin:20px;
}

/*User With No Posts - Public Profile*/

.no-posts{
background: 
linear-gradient(
    rgba(182, 113, 203, 0.4),
    rgba(116, 109, 184, 0.45)
  );
color: white !important;
height:15vh;

}
.string-1-noPosts{
  padding-top:30px;
  width:20vh;
  margin:0 auto;
  font-weight:100;
  margin-top:-35px;
}
